<%- include('./partials/top.ejs') %>
<div class="about content">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, laborum
    sapiente! Alias porro commodi, recusandae odio illo voluptatibus itaque
    iusto eaque suscipit velit tempora fuga nesciunt voluptatem perferendis
    sequi quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis excepturi
    modi, rem perferendis assumenda illo expedita nam dolor blanditiis fugiat
    voluptatem! Fugit vitae sunt quod soluta inventore ab totam saepe?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero et itaque ex,
    quos tempore dolore nemo iste omnis, error odit nihil laboriosam aspernatur
    assumenda sed odio ab maiores corporis quam?
  </p>
</div>
<%- include('./partials/bottom.ejs') %>
